/* Prevent blue highlight on chart interactions */
.recharts-wrapper,
.recharts-surface,
.recharts-layer,
.recharts-line,
.recharts-dot,
.recharts-active-dot {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

.recharts-wrapper *:focus,
.recharts-surface *:focus,
.recharts-layer *:focus {
  outline: none !important;
  border: none !important;
}

